


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <br/>
    <br/>
    <br/>
    <br/>
    @ViewBag.test
    <br/>
    <br/>
    <br/>
    <br/>
</div>
</body>
</html>