@model SpeedDeal.DbModels.Theme;
@{
    Layout = "_Layout";
}
<style>
    form{
    display: inline-block;
    }
</style>

@Html.Partial("Caption", new CaptionModel{LinkName = "Настройки", Caption = "Цвета", ActionName = "Index", ControllerName = "ControlPanel"})

<div class="parrent">
    <form asp-action="ChangeColors" method="post">
        <table>
            <tr>
                <td>Цвет фона:</td>
                <td>
                    <input type="color" asp-for="BackColor" oninput="changeBackColor()"/>
                </td>
            </tr>
            <tr>
                <td>Цвет:</td>
                <td>
                    <input type="color" asp-for="Color" oninput="changeColor()" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <button type="submit"> Сохранить </button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>

    function changeBackColor() {
        document.querySelector("body").style.backgroundColor = document.querySelector("#BackColor").value;
    }

    function changeColor() {
        document.querySelector("body").style.color= document.querySelector("#Color").value;
    }

</script>