@{
    Layout = "_Layout";
    ViewBag.Title = "Change password";
}

<style>
    .login {
        height: fit-content;
        width: fit-content;
        border: 2px solid darkblue;
        border-radius: 10px;
        padding: 10px;   
        display: inline-block;
    }

</style>
<div class="parrent">
    <div class="login">
        <div style="position: relative">
            <form action="/ControlPanel/ChangePassword" method="post">
                <input type="text" placeholder="Имя пользователя" name="name"/>
                <br><br>
                <input type="password" placeholder="Старый пароль" name="aldPassword"/>
                <br><br>
                <input type="password" placeholder="Новый пароль" name="newPassword"/>
                <br><br>
                <button type="submit" style="float: left;"> Login </button>
            </form>
            
        </div>
    </div>
</div>