@using SpeedDeal.Controllers.ControlPanel.ViewModels

@model ControlPanelViewModel
@{
    Layout = "_Layout";
}

@Html.Partial("Caption", new CaptionModel{LinkName = "На главную", Caption = "Настройки", ActionName = "Index", ControllerName = "Home"})

<div class="parrent">
    @foreach (var link in Model.Menus)
    {
        <a href="@link.Link"> @link.Name </a>
        <br/>
        <br/>
    }
</div>
