@using SpeedDeal.Controllers.ControlPanel.ViewModels

@model ControlPanelViewModel
@{
    Layout = "_Layout";
}



<div class="body-div">
    <div class="goto-main-page">
        <a href="/" > На главную</a>
        <br />
    </div>
    <h2> Настройки </h2>


    @foreach(var link in Model.Menus)
    {
        <a href="@link.Link"> @link.Name </a>
        <br />
        <br />
    }

</div>