@model SpeedDeal.DbModels.User

@{
    ViewBag.Title = "Редакирование пользователя";
    Layout = "_Layout";
}

<h2>Редактирование пользователя</h2>

<div class="goto-page">
    <a href="/ControlPanel"> <i class="las la-backward"></i> Настройки </a>
    <br />
</div>