@using SpeedDeal.DbModels
@model List<User>
@{
    Layout = "_Layout";
    ViewBag.Tittle = "Users";
}
<style>
    .usres-list {
        height: 95%;
        overflow-y: auto;
    }
</style>

@Html.Partial("Caption", new CaptionModel{LinkName = "Настройки", Caption = "Пользователи", ActionName = "Index", ControllerName = "ControlPanel"})

<div class="parrent">
    <div class="usres-list">
        @foreach(var user in Model)
        {
            <div class="single-user">
                <a href="EdirUser?userId=@user.Id"> @user.Name</a> @user.Role.Name
            </div>
        }
    </div>
</div>