@using SpeedDeal.DbModels
@model List<User>
@{
    Layout = "_Layout";
    ViewBag.Tittle = "Users";
}
<style>
    .usres-list {
        height: 95%;
        overflow-y: auto;
    }
</style>

<div class="goto-main-page">
    <a href="/ControlPanel"><i class="las la-backward"></i> Настройки </a>
    <br />
</div>

<div class="parrent">
    <div class="usres-list">
        <h2> Users </h2>
        @foreach(var user in Model)
        {
            <div class="single-user">
                <a href="EdirUser?userId=@user.Id"> @user.Name</a> @user.Role.Name
            </div>
        }
    </div>
</div>