@model List<SpeedDeal.DbModels.Role>

@{
    Layout = "_Layout";
}


@Html.Partial("Caption", new CaptionModel{LinkName = "Настройки", Caption = "Роли", ActionName = "Index", ControllerName = "ControlPanel"})

<div class="parrent">
    <div>
        <a href="/ControlPanel/RoleCreate">Создать новую </a>
    </div>
    <br />
    <br />

    @foreach (var role in Model)
    {
        <div>
            <a href="/ControlPanel/RoleEdit?roleId=@role.Id">@role.Name </a>
        </div>
    }

</div>
