@model SpeedDeal.DbModels.Role
@{
    Layout = "_Layout";
}

@Html.Partial("Caption", new CaptionModel{LinkName = "Настройки", Caption = "Роли", ActionName = "Roles", ControllerName = "ControlPanel"})

<div class="parrent">
    <div class="eidt-role">
        <form action="RoleEdit" method="post">
            <input type="hidden" name="roleId" value="@Model.Id" />
            <input type="text" name="roleName" id="roleName" value="@Model.Name" placeholder="Имя роли" />
            <br />
            <br />
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
